:root {
  font: 18px/1.2 "Raleway", sans-serif;
}

body,
body * {
    margin:          unset;
    box-sizing:      unset;
    padding:         unset;
    font-size:       unset;
    color:           unset;
    text-decoration: unset;
}

figure * {
    display: block;
}