body {
  background-color: #f2f2f2;
  font-family: "Roboto Slab"; /* OPTIONAL: Google Fonts - base font */
  font-weight: 300;
  font-size: 16px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Sans"; /* OPTIONAL: Google Fonts - title font */;
  font-weight: 700;
  color: #3e3e3e;
}

/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
  color: #9FC5DE;
  word-wrap: break-word;

  -webkit-transition: color 0.3s ease-in, background 0.3s ease-in;
  -moz-transition: color 0.3s ease-in, background 0.3s ease-in;
  -ms-transition: color 0.3s ease-in, background 0.3s ease-in;
  -o-transition: color 0.3s ease-in, background 0.3s ease-in;
  transition: color 0.3s ease-in, background 0.3s ease-in;
}

a:hover,
a:focus {
  color: #5E8EBF;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*---------------------------------------------------
  SECTION WRAPS
---------------------------------------------------*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: #372940;
  overflow: hidden;
  font-family: "IBM Plex Sans";
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #9FC5DE;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4A6F96;
  color: white;
}

/* Header Wrap */
.header {
  background: #c1454c;
  background: url(../images/home_bg3.jpg);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  padding-top:320px;
  padding-bottom: 100px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 750px;
  width: 100%;
  height: 100%;
  
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header h1 {
  font-size: 70px;
  color: #EDD4C0;
}

.header h3 {
  font-size: 24px;
  color: #809FB3;
}

.header h3 a {
  color: #809FB3;
}

.header t {
  font-size: 20px ;
  color: #B6E3FF ;
}

/* About Wrap */
.about {
  background: #372940;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  padding-bottom: 30px;
  color: white;
} 

.about h5, p {
  color: white;
}

.about i {
  color: white;
  font-size: 20px;
  padding-right: 8px;
  vertical-align: middle;
}

.about t {
  color: #F1F0F0;
  text-align: center;
}

/* Footer Wrap */
.footer {
  background: #372940;
  padding-top: 50px;
  padding-bottom: 30px;
}

.footer p {
  color: white;
}

.footer h5 {
  color: white;
}

.footer t {
  font-weight: 700;
}

/* social icons: */
.footer i {
  padding-right: 8px;
  /*color: #1abc9c;*/
}

/* Middle */

.mid_section {
  background: #e9e9e9;
  padding-top: 30px;
  padding-bottom: 30px;
}

.mid_section h2 {
  color: #372940;
}

.mid_section t {
  color: #111111;
}


/* Global Values */

.desc {
  padding-top: 30px;
  padding-bottom: 25px;
}

.desc p {
  color: #111111;
}

.desc t {
  color: #2e2e2e;
  font-weight: 400;
}

.desc imp {
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  /* padding: 8px; */
  color: white;
  background: #c1454c;
}

.desc more {
  color: #2e2e2e;
}

.desc li {
  color: #2e2e2e;
}

sm {
  font-size: 12px;
}

.desc .col-lg-3 {
  text-transform: uppercase;
}

.container .row p.tight {
  margin-bottom: 10px;
}

/* define some CSS3 animations: */
body {
  /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
  -webkit-backface-visibility: hidden;
}

.animated {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; 
  }

  100% {
    opacity: 1; 
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  } 
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* 1 */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
  }
