article {
    display: grid;
    /* instead of using the complex minmax even when we have the @media query seems weird,
       so we can fix this very easiy
    grid-template-columns: 1fr 0.4in [start] minmax(0, 9.0in) [end] 0.4in 1fr;
    */
    grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;

    /* grid-template-rows: 3in 1fr 1fr 1fr; */

    /* NOTE: we are keeping the size of out box as 8.5 inches */
}


article * {
    grid-column: start / end;
}

@media (max-width: 8.5in) {
    /* what ever we need to if the width is less than 9.0in */
    article { grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr; }
    :root {font-size: 14px};
}

p { 
  font: 400 1.0rem/1.5 "Raleway";
  color: #202020;
  margin-bottom: 1.5rem;
}

.article-a {
    box-shadow: inset 0 -0.25em #FFBF00;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.article-a:hover {
    box-shadow: inset 0 -0.25em #3DB277;
}

.top-box {
    /* Center and scale the image nicely */
    background: url("../files/bp.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;

    /* define the height */
    grid-column: 1/8;
    min-height: 5in;
    max-height: 10in;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.top-box h1 {

    justify-content: center;
    align-content: center;

    font: 700 3.0rem/1.0 "Playfair Display";
    text-align: center;
    padding: 1.4rem;
  
    color: #1f1f1f;
    background: #E8E5B295;
}

.banner-middle {
  grid-column: 1/8;
  background: #1f1f1f;
  
  margin: 0;
  padding: 0;

  text-transform: uppercase;
}

.banner-middle p {
  font: 400 1.0rem/1.3 "Raleway";
  text-align: center;
  color: #E8E5B2;

  padding: 2.0rem;
  margin: 0;

  letter-spacing: 5px;
}

