/* this is the style sheet for single blog unit */


h1 {
	font-family: "Poppins";
	color: #202020;
}

blog-home {
	display: grid;
	padding-top: 0.3in; /* top-bottom and left-right*/

	grid-template-columns: 1fr 0.5in [start] 1.25in 5in 1.25in [end] 0.5in 1fr;
	margin-bottom: 0.5in;
}

blog-home * {
	grid-column: start / end;
}

@media (max-width: 8.5in) {
    /* what ever we need to if the width is less than 9.0in */
    blog-home { grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr; }
}

@media (max-width: 8.5in) { :root { font-size: 16px; } }
@media (max-width: 5.0in) { :root { font-size: 14px; } }