nav {
	display: grid;
	background: #f7f7e2;
	padding-top: 1.0rem;
	padding-bottom: 1.0rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: #efefef;
	font-family: "Poppins";
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-home {
	grid-column: 1 / 2;
	display: flex;
	font-family: "Poppins";
	justify-content: center;
}

.nav-project {
	grid-column: 2 / 3;
	display: flex;
	font-family: "Poppins";
	justify-content: center;
}

.nav-blog {
	grid-column: 3 / 4; 
	display: flex;
	font-family: "Poppins";
	justify-content: center;}

.nav-resume { grid-column: 4 / 5; 
	display: flex;
	font-family: "Poppins";
	justify-content: center;}


nav a {
	font-weight: 700;
	color: #4f4e47;
	-moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
		font-family: "Poppins";
}

nav a:hover {
	color: #88bbd6;
	-moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
		font-family: "Poppins";
}

