/* this is the style sheet for single blog unit */


project-card {
	grid-column: 3 / 6;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background: #2e2e2e;
	

	box-shadow: 0px 5px 19px 5px rgba(181,181,181,1);

	border-radius: 8px 8px 8px 8px;
	border: 0px solid #000000;
}

project-card name {
	font-family: "Staatliches";
	font-size: 3rem;
	margin-top: 1rem;
}

project-card info {
	font-size: 0.9rem;
	margin-bottom: 1.0rem;
}

/* Images to project cards */
.fcle-card {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.82) 100%), url("../images/fcle_home.svg") no-repeat;
	background-size: cover;
	padding-top: 75%;
}

.stock-card {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.82) 100%), url("https://evergreensmallbusiness.com/wp-content/uploads/2017/11/iStock-544338034.jpg") no-repeat;
	background-size: cover;
	padding-top: 75%;
}

.transformer-card {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.85) 59%, rgb(255, 255, 255) 100%), url(https://cdn-images-1.medium.com/max/1090/1*HunNdlTmoPj8EKpl-jqvBA.png) no-repeat;
	background-size: cover;
	padding-top: 75%;
}

