nav {
	display: grid;
	background: #00ff75;
	padding-top: 1.0rem;
	padding-bottom: 1.0rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	color: #efefef;
  font-family: "Poppins";
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-home { grid-column: 1 / 2;
	display: flex;
	justify-content: center;}

.nav-project { grid-column: 2 / 3;
	display: flex;
	justify-content: center;}

.nav-blog { grid-column: 3 / 4; 
	display: flex;
	justify-content: center;}

.nav-resume { grid-column: 4 / 5; 
	display: flex;
	justify-content: center;}


nav a {
	-moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
		color: #2a3d37;
}

nav a:hover { color: #48c49a;
	-moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

