/* top box qualities */

.top-box {
    display: grid;
    width:  100%;
    height: 95vh;
    background: #1e1e1e;
    background-image: url("FC_final.svg");
    background-size: cover;
    background-position: top;

    grid-template-rows: 4fr 2fr 0.1fr 3.9fr;
}

/* parallax divisions */

.top-box h1 {

    font: 700 3.0rem/1.0 "Staatliches";
    text-align: left;
    color: #f8f8f8;
    padding: 1.0rem;

    grid-row: 2 / 3;
}

.top-box h2 {

    font: 700 2.0rem/1.0 "Staatliches";
    text-align: left;
    color: #ffdcdc;
    padding: 1.0rem;
    letter-spacing: 1.4px;

    grid-row: 3 / 4;
}